/football_spitial_merge/.idea/
/football_spitial_merge/__pycache__/
/football_spitial_merge/videos/
/football_spitial_merge/mat.csv
/football_spitial_merge/*.json
/football_time_merge/.idea/
/football_time_merge/__pycache__/
/football_time_merge/videos/
/football_time_merge/mat.csv
/football_time_merge/*.json